[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-crispy-forms = "*"
gunicorn = "*"
whitenoise = "*"
django-cors-headers = "*"
django-extensions = "*"
pyparsing = "*"
pydot = "*"
pendulum = "*"

[dev-packages]
flake8 = "*"
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
