[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
whitenoise = "*"
django-cors-headers = "*"
django-extensions = "*"
pendulum = "*"
django-heroku = "*"
django-allauth = "*"
python-dotenv = "*"
pyparsing = "*"
pydot = "*"
dj-rest-auth = {extras = ["with_social"], version = "*"}
django-rest-framework = "*"

[dev-packages]
flake8 = "*"
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
